.todo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 450px;
  margin: 15px auto;
}

.todo__input {
  position: relative;
}

.todo__text {
  outline: none;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  border-radius: 4px;
  border: 2px solid #e0e0e0;
  padding: 6px 34px 6px 10px;
  width: 225px;
}

.todo__text:focus {
  border-color: #00E676;
}

/* .todo__add {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  height: 26px;
  width: 26px;
  background-color: #8bc34a;
  cursor: pointer;
  transition: background-color 0.15s ease-in;
} */
.todo__add
{
  padding: 7px 10px;
  background: #00E676;
  border: 2px solid #00E676;
  font-size: 18px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: 0.3s all;
}
.todo__add:hover
{
  filter: brightness(0.9);
  transition: 0.3s all;
}
.nnn
{
  padding: 7px 10px;
  background: #00E676;
  border: 2px solid #00E676;
  font-size: 18px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: 0.3s all;
  margin-top: 10px;
}
.nnn:hover
{
  filter: brightness(0.9);
  transition: 0.3s all;
}
.mmm
{
  padding: 7px 10px;
  background-color: #e57373;
  border: 2px solid #e57373;
  font-size: 18px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: 0.3s all;
  margin-top: 10px;
}
.mmm:hover
{
  filter: brightness(0.8);
  transition: 0.3s all;
}
/* .todo__add:hover {
  background-color: #689f38;
} */

/* .todo__text:disabled+.todo__add {
  cursor: default;
  background-color: #8bc34a;
  opacity: 0.5;
} */

/* .todo__add::before {
  content: "";
  position: absolute;
  left: 5px;
  top: 5px;
  width: 16px;
  height: 16px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath fill='%23fff' d='M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z' class=''%3E%3C/path%3E%3C/svg%3E");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
} */

.todo__options {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='12' fill='%23fff'%3E%3Cpath d='M0 0h24L12 12z'/%3E%3C/svg%3E") calc(100% - 10px) center no-repeat;
  background-color: #00E676;
  background-size: 10px;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  max-width: 100%;
  outline: none;
  padding: 2px 30px 6px 12px;
  width: 150px;
}

/* скрываем дефолтную стрелку в IE10 и IE11 */
.todo__options::-ms-expand {
  display: none;
}

.todo__options>option {
  color: #212529;
  background-color: #fff;
}

.todo__items {
  width: 100%;
  list-style-type: none;
  padding-left: 0;
  margin-left: auto;
  margin-right: auto;
}

.todo__item {
  background-color: #fafafa;
  padding: 10px 15px;
  position: relative;
  overflow: hidden;
}

.todo__item:not(:last-child) {
  margin-bottom: 0.5rem;
}

/* .todo__action {
  position: absolute;
  top: -20px;
  right: 15px;
  height: 32px;
  width: 32px;
  border-radius: 4px;
  transform: translateY(-50%);
  background-color: #80deea;
  opacity: 0.5;
  transition: top 0.3s ease-in;
  cursor: pointer;
} */

/* .todo__action::before {
  content: '';
  position: absolute;
  top: 6px;
  right: 6px;
  width: 20px;
  height: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
} */

.todo__action_delete {
  background-color: #e57373;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  padding: 7px 10px;
  color: #fff;
  transition: 0.3s all;
}
.todo__action_delete:hover
{
  filter: brightness(0.8);
  transition: 0.3s all;
}
.todo__action_complete {
  background-color: #00E676;
  border: none;
  color: #fff;
  padding: 7px 10px;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s all;
}
.todo__action_complete:hover
{
  filter: brightness(0.8);
  transition: 0.3s all;
}
.todo__action_restore{
  padding: 7px 10px;
  color: #fff;
  border: none;
  background: #80deea;
  border-radius: 5px;
  font-size: 18px;
}
.todo__item:hover .todo__action {
  top: 50%;
}

.todo__item:hover .todo__action:hover {
  opacity: 1;
}

[data-todo-state="active"] .todo__action_restore,
[data-todo-state="completed"] .todo__action_complete
{
  display: none;
}

[data-todo-state="completed"] {
  background-color: #f1f8ed;
}

[data-todo-option="active"] .todo__item:not([data-todo-state="active"]),
[data-todo-option="completed"] .todo__item:not([data-todo-state="completed"])
{
  display: none;
}